<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\ZeriFiles\00Learn Django and Python\12Arbadjie\StockMgtSystem\VenvSMS\Scripts\python.exe|&quot;G:\ZeriFiles\00Learn Django and Python\12Arbadjie\StockMgtSystem\VenvSMS\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
